<!DOCTYPE html>
<html lang="en">
<head>
    <!-- The `include('./partials/head')` code is likely using a 
    templating engine to include the content of another file (in this case, './partials/head') 
    into the current HTML file. This allows for modularizing the code and reusing common 
    elements across multiple pages. The included file may contain things like meta tags, 
    stylesheets, or other head-related content that needs to be present in multiple pages. -->
    <%- include('./partials/head') %>
    <title>Home Page</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Welcome to the Blogging App</h1>
    <p>This is the home page.</p>
    <%- JSON.stringify(user) %>
    <%- include('./partials/scripts') %>
</body>
</html>